[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
pydantic="*"
fastapi="*"
uvicorn="*"
#for templates  #new
jinja2="*"
python-multipart = "*"
opencv-python = "*"
torchvision = "*"
numba = "*"
"stomp.py" = "*"

[dev-packages]

[requires]
python_version = "3.9"
